/* Write your CSS here */
.controller-bg {
  background-color: #64748b;
  font-family: 'Roboto';
  min-height: 20vh;
  color: #f1f5f9;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 6rem;
  margin: 0;
}
.layout-heading {
  color: #f1f5f9;
  font-size: 2.5rem;
}

.input-label-con {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.check-box {
  height: 12px;
  width: 12px;
  margin-right: 1rem;
}
.label {
  font-weight: 500;
  font-size: 13px;
}
